:root {
  --height: 95vh; 
  --width: 98vw; 
}

* {
  background-color: #f7f7f5; 
  font-family: "consolas"; 
  scroll-behavior: smooth; 
  /* outline: 2px solid black;  */ 
}

#home, #about, #contact {
  display: flex; 
  flex-direction: column;
  align-items: center; 
  justify-content: center;

  width: var(--width); 
  height: calc(1*var(--height)); 
  margin-bottom: calc(0.1*var(--height)); 
}

h1 {
  z-index: 15; 
  color: black; 
  text-align: center;
  font-size: 4vw; 
  font-weight: 300; 

  text-decoration: underline 0.1em rgba(0,0,0,0); 
  transition: text-decoration-color 300ms; 
}

h1:hover {
  text-decoration: underline 0.1em rgba(0,0,0,1);
}

h2 {
  text-decoration: underline;

  z-index: 15;
  color: black;
  text-align: center;
  font-size: 2vw;
  font-weight: 300;
}

p {
  margin-top: 0vh;

  z-index: 15;
  color: black; 
  text-align: auto; 
  font-size: 1.25vw; 
  font-weight: 300;

  line-height: 1vh; 
}

img {
  z-index: 10; 
  position: absolute;
}

a {
  text-decoration: underline;
  color: black; 
}

#gojo {
  top: calc(0.1*var(--width)); 
  left: calc(0.1*var(--width)); 

  width: calc(0.15*var(--width));
  height: calc(0.2*var(--width));

  opacity: 0.75; 
  transform: rotate(-3deg); 
}

#head {
  top: calc(0.25*var(--width));
  left: calc(0.75*var(--width));

  width: calc(0.15*var(--width));
  height: calc(0.15*var(--width));

  opacity: 0.5;
}

#gojo2 {
  top: calc(0.8*var(--width));
  left: calc(0.2*var(--width));

  width: calc(0.15*var(--width));
  height: calc(0.15*var(--width));

  opacity: 0.5;
  transform: rotate(0deg);
}

#koi {
  top: calc(0.95*var(--width));
  left: calc(0.65*var(--width));

  width: calc(0.2*var(--width));
  height: calc(0.2*var(--width));

  opacity: 0.5;
  transform: rotate(70deg);
}

#jelly {
  top: calc(1.2*var(--width));
  left: calc(0.15*var(--width));

  width: calc(0.2*var(--width));
  height: calc(0.2*var(--width));

  opacity: 0.5;
  transform: rotate(30deg);
}

#pochacco {
  top: calc(1.4*var(--width));
  left: calc(0.65*var(--width));

  width: calc(0.21*var(--width));
  height: calc(0.16*var(--width));

  opacity: 0.5;
  transform: rotate(30deg);
}

#heart {
  top: calc(0.05*var(--width));
  left: calc(0.55*var(--width));

  width: calc(0.2*var(--width));
  height: calc(0.2*var(--width));

  opacity: 0.5;
  transform: rotate(15deg);
}

#star {
  top: calc(0.35*var(--width));
  left: calc(0.3*var(--width));

  width: calc(0.1*var(--width));
  height: calc(0.1*var(--width));

  opacity: 0.5;
  transform: rotate(15deg);
}

#music {
  top: calc(0.4*var(--width));
  left: calc(0.6*var(--width));

  width: calc(0.15*var(--width));
  height: calc(0.25*var(--width));

  opacity: 0.75;
  transform: rotate(15deg);
}

#star1 {
  top: calc(1.05*var(--width));
  left: calc(0.35*var(--width));

  width: calc(0.05*var(--width));
  height: calc(0.05*var(--width));

  opacity: 0.25;
  transform: rotate(15deg);
}

#mssg {
  top: calc(1.40*var(--width));
  left: calc(0.2*var(--width));

  width: calc(0.3*var(--width));
  height: calc(0.3*var(--width));

  opacity: 0.25;
  transform: rotate(-5deg);
}