:root {
  --height: 95vh; 
  --width: 99vw; 
}

* {
  background-color: #f7f7f5; 
  font-family: "consolas";
  /* outline: 2px solid black;  */
}

#home, #about, #contact {
  display: flex; 
  flex-direction: column;
  align-items: center; 
  justify-content: center;

  width: var(--width); 
  height: calc(1*var(--height)); 
}

h1 {
  color: black; 
  text-align: center;
  font-size: 4vw; 
  font-weight: 300; 
}

h2 {
  text-decoration: underline;

  color: black;
  text-align: center;
  font-size: 2vw;
  font-weight: 300;
}

p {
  margin-top: 0vh;

  color: black; 
  text-align: auto; 
  font-size: 1.25vw; 
  font-weight: 300;

  line-height: 1vh; 
}